build
bin
debug
dep
obj
dev-env
.idea
.vscode
gitignore
.vagrant
libsol/target

# Python
__pycache__
.venv
.venv-*
.egg
.pyc
*~

snapshots-tmp/

tests/swap/.test_dependencies/app-ethereum
tests/swap/.test_dependencies/app-exchange

# local test helper files
tests/swap/test_raw.py
